# Name to configure and display on Gitea
APP_NAME=Gitea: Git with a cup of tea

# Protocol to use for Gitea
PROTOCOL=https

# Domain for Gitea
DOMAIN=git.example.com

# Virtual host for Gitea
VIRTUAL_HOST=git.example.com

# Virtual port for Gitea
VIRTUAL_PORT=3000

# Letsencrypt host for Gitea
LETSENCRYPT_HOST=git.example.com

# Letsencrypt email for Gitea
LETSENCRYPT_EMAIL=admin@example.com

# Name for PostgreSQL database
DB_NAME=gitea

# User for PostgreSQL database
DB_USER=gitea

# Password for database user
DB_PASSWD=gitea
